@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    --primary:#2C3E4F;
}
*{
    font-family: "Press Start 2P";
}
body{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
main{
    flex-grow: 1;
    width: 100%;
}
#index{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;

    color: white;
}
#index button{
    margin-top: 3rem;
    padding: 2rem;
    font-size: large;
}
#game{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    color: white;
}
svg{
    border: 1px solid white;
    width: 70%;
    height: 90%;
}
#p1, #p2{
    width: 20px;
    height: 100px;
    fill: white;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: .4vh;
    color: white;
}